{
    "Version": "13.3.0",
    "Name": "YOUR_DOMAIN_HERE",
    "DestinationType": "ImageUploader, FileUploader",
    "RequestMethod": "POST",
    "RequestURL": "https://YOUR_DOMAIN_HERE/storage/upload",
    "Headers": {
        "X-Storage-Username": "YOUR_STORAGE_USERNAME",
        "X-Storage-Password": "YOUR_STORAGE_PASSWORD"
    },
    "Body": "MultipartFormData",
    "FileFormName": "file",
    "URL": "$json:message$",
    "ErrorMessage": "$json:message$"
}
