{
    "Version": "18.0.0",
    "DestinationType": "ImageUploader, FileUploader",
    "RequestMethod": "POST",
    "RequestURL": "https://DOMAIN/storage/upload",
    "Headers": {
        "X-Storage-Username": "STORAGE_USERNAME",
        "X-Storage-Password": "STORAGE_PASSWORD"
    },
    "Body": "MultipartFormData",
    "FileFormName": "file",
    "URL": "{json:data}",
    "ErrorMessage": "{json:message}"
}
