API_VERSION=
PORT=
SECRET=
STORAGE_USERNAME=
STORAGE_PASSWORD=
SITE_URL=

SUPABASE_PUBLIC_URL=
SUPABASE_PUBLIC_ANON_KEY=

# You can also use Supabase for postgres hosting :)
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Optional: If you want to post uploaded files to Discord
DISCORD_WEBHOOK_ID=
DISCORD_WEBHOOK_TOKEN=
